.centering-title {
    display: flex; 
    justify-content: center; 
    align-content: center; 
    margin: 20%;
}


.title-minucurso {
    font-size: 500%; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif; 
    font-weight: bolder;
}